.created {
  position: absolute;
  width: 287px;
  height: 17px;
  left: 322px;
  top: 1118px;
  margin-bottom: 40rem;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #a9a9a9;
}
